*{
    font-family: 'Times New Roman', Times, serif;
}
.landing-section {
  position: relative;
  min-height: 80vh;
  background-image: url("ghana.2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 10px;
   
}
.overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background-color: rgba(0, 0, 0, 0.8); 
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(197, 191, 191);
   border-radius: 10px;
}
.title{
    font-size: 3em;
    font-weight: bold;
    color: rgb(237, 233, 233);
    text-align: center;
    margin-top: 50px;
}
.content{
    font-size: 1.3em;
    line-height: 1.4;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 15px;
    text-indent: 20px;
}
.content::first-letter{
    font-size: 1.5em;
    font-style: italic;
}
.content-part{
    font-size: 1.6em;
    font-style: italic;
    color: rgb(109, 70, 70);
    font-weight: bold;
    margin-left: 20px;
    padding-left: 20px;
}
.birthdate{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(177, 3, 3) ;
}
#year{
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    margin-top: 8px;
    
}
#month{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 5px;
    margin-top: 8px;

}
#day{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 5px;
    margin-top: 8px;
}
.gender{
    font-size: 1.5em;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(177, 3, 3) ;;
}
.gender-input{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    margin-top: 10px;
}
.button{
    padding: 10px 20px;
    margin-left: 40px ;
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    background-color: rgb(163, 129, 129);
    font-size: 1.5em;
    font-weight: bold;
}
.button:hover{
    color: rgb(190, 22, 22);
    cursor: pointer;
}
.name{
    font-size: 1,3em;
    margin-left: 20px;
    padding-left: 20px;

}
#akanName{
    font-size: 1.3em;
    margin-left: 20px;
    padding-left: 20px;
}
#result{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.4em;
}
#akan-name{
    font-size: 1.2em;
    color: rgb(144, 25, 25);
}
 .footer{
    background-color: rgb(100, 86, 86);
    border: none;
    border-radius:8px ;
    
 }
 .footer-content{
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
 }