*{
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 3em;
    font-weight: bold;
    color: rgb(141, 62, 62);
    text-align: center;
}
.content{
    font-size: 1.3em;
    line-height: 1.4;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 15px;
    text-indent: 20px;
}
.content::first-letter{
    font-size: 1.5em;
    font-style: italic;
}
.content-part{
    font-size: 1.3em;
    font-style: italic;
    color: brown;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 20px;
}
 