*{
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 3em;
    font-weight: bold;
    color: rgb(141, 62, 62);
    text-align: center;
}
.content{
    font-size: 1.3em;
    line-height: 1.4;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 15px;
    text-indent: 20px;
}
.content::first-letter{
    font-size: 1.5em;
    font-style: italic;
}
.content-part{
    font-size: 1.3em;
    font-style: italic;
    color: brown;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 20px;
}
.birthdate{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(177, 3, 3) ;
}
#year{
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    margin-top: 8px;
    
}
#month{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 5px;
    margin-top: 8px;

}
#day{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 5px;
    margin-top: 8px;
}
.gender{
    font-size: 1.5em;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(177, 3, 3) ;;
}
.gender-input{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    margin-top: 10px;
}
.button{
    padding: 10px 20px;
    margin-left: 40px ;
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    background-color: rgb(163, 129, 129);
    font-size: 1.5em;
    font-weight: bold;
}
.button:hover{
    color: rgb(190, 22, 22);
    cursor: pointer;
}
.name{
    font-size: 1,3em;
    margin-left: 20px;
    padding-left: 20px;

}
#akanName{
    font-size: 1.3em;
    margin-left: 20px;
    padding-left: 20px;
}
#result{
    margin-left: 20px;
    padding-left: 20px;
    font-size: 1.4em;
}
#akan-name{
    font-size: 1.2em;
    color: rgb(144, 25, 25);
}
 